<header id="head">
  <nav class="navbar navbar-expand-lg bg-secondary sticky">

    <a class="navbar-brand" [routerLink]="['/home']"><img src="../assets/images/logo.png"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">

        <li class="nav-item "><a class="nav-link text-white" [routerLink]="['/databiding']">DATA BINDING</a></li>
        <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/angularcli']">ANGULAR CLI</a></li>
        <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/diretivas']">DIRETIVAS</a></li>
        <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/services']">SERVICES</a></li>
        <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/pipes']">PIPES</a></li>

      </ul>
    </div>

  </nav>
</header>



<router-outlet></router-outlet>



<footer class="pt-4 bg-light">



  <div class="row">


    <div class="col-lg-4">
      <img src="../assets/images/logo-footer.png" class="rounded float-left img-fluid w-75 p-3 ">
    </div>


    <div class="col-lg-4 ">
      <h2 class="widget-title ">Social</h2>
      <div class="menufooter">
        <p><a href="" target="_blank" class="text-danger"><i class="fa fa-linkedin"></i> LinkedIn</a></p>
        <p><a href="" target="_blank" class="text-danger"><i class="fa fa-facebook"></i> Facebook</a></p>
        <p><a href="" target="_blank" class="text-danger"><i class="fa fa-github" ></i> GitHub</a></p>
      </div>
    </div>


    <div class="col-lg-4">
      <h2 class="widget-title">Contato</h2>
      <div class="menufooter">
        <p><a href="mailto:amorimtalison9@gmail.com " class="text-danger"> <i class="fa fa-envelope "></i> amorimtalison9@gmail.com</a></p>
        <p> <a href="callto:+5561992106360" class="text-danger"> <i class="fa fa-phone-square"></i> (61) 9 9210-6360</a></p>
      </div>
    </div>

  </div>




</footer>