<main>
<section class="container">

    <section class="row px-5 d-flex justify-content-center">

        <div class="col-6 border-bottom border-danger"><img class="rounded float-left img-fluid w-75 p-3" src="assets/images/data-binding.png" alt="" > </div>
        <div class="col-6 border-bottom border-danger">
            <h3 class="animate__animated animate__fadeInDownBig">Aprenda sobre</h3>
            <h2 class="animate__animated animate__fadeInUpBig">Data Binding</h2>
            <p>O recurso da vinculação de dados ou data binding do AngularJS é o recurso mais útil e facilita a vida do desenvolvedor poupando-o de escrever muito código, e tirando dele a responsabilidade de manipular manualmente os elementos DOM e os atributos para refletir as mudanças do modelo</p>
            <a class="btn btn-outline-danger">Saiba Mais</a>
        </div>
     
        
        <div class="col-6 border-bottom border-danger">
            <h3 class="animate__animated animate__fadeInDownBig">Saiba mais sobre </h3>
            <h2 class="animate__animated animate__fadeInUpBig">Angular CLI</h2>
            <p>O Angular CLI é baseado no Webpack, uma ferramenta que ajuda a processar e agrupar nossos diversos arquivos TypeScript, JavaScript, CSS, HTML e imagens</p>
            <button class="btn btn-outline-danger">Saiba Mais</button>
        </div>
        <div class="col-6 border-bottom border-danger"> <img class="rounded float-left img-fluid w-100 p-3" src="assets/images/angular-cli-tutorial.png" alt="" ></div>

        <hr>


        <div class="col-6 border-bottom border-danger"><img class="rounded float-left img-fluid w-100 p-3" src="assets/images/download.jfif" alt="" > </div>
        <div class="col-6 border-bottom border-danger">
            <h3 class="animate__animated animate__fadeInDownBig">Aprenda sobre</h3>
            <h2 class="animate__animated animate__fadeInUpBig">Diretivas</h2>
            <p>As diretivas são marcadores em um elemento DOM (como um atributo) que informam ao Angular para anexar um comportamento especificado a um elemento existente.</p>
            <button class="btn btn-outline-danger">Saiba Mais</button>
        </div>


        <hr>

        
        <div class="col-6 border-bottom border-danger">
            <h3 class="animate__animated animate__fadeInDownBig">Aprenda sobre</h3>
            <h2 class="animate__animated animate__fadeInUpBig">Services</h2>
            <p>Conforme a Arquitetura do Angular a utilização de Serviços tem o propósito de organizar o projeto de software Angular, isolando lógica de negócio e separando-a dos Controllers. Não é possível afirmar que seja obrigatório utilizar serviços, mas é muito desejável</p>
            <button class="btn btn-outline-danger">Saiba Mais</button>
        </div>
        <div class="col-6 border-bottom border-danger"><img class="rounded float-left img-fluid w-100 p-3" src="assets/images/download.png" alt="" ></div>


        <hr>

        <div class="col-6 border-bottom border-danger" ><img class="rounded float-left img-fluid w-100 p-3" src="assets/images/pipes.png" alt="" ></div>
        <div class="col-6 border-bottom border-danger">
            <h3 class="animate__animated animate__fadeInDownBig">Aprenda sobre</h3>
            <h2 class="animate__animated animate__fadeInUpBig">Pipes</h2>
            <p>Uma maneira elegante de realizarmos transformações em nosso front-end. Com ela nos podemos criar funções ou filtros (como é chamado no inglês), que podem ser utilizadas em qualquer parte do template do nosso projeto</p>
            <button class="btn btn-outline-danger">Saiba Mais</button>
        </div>
    </section>

</section>

</main>