<main>

<h3 class="animate__animated animate__fadeInDownBig">Aprenda</h3>
              <h2 class="animate__animated animate__fadeInUpBig">Angular</h2>
              <button class="btn btn-outline-danger">Saiba Mais</button>

<h3 class="animate__animated animate__fadeInDownBig">Sabe o que são</h3>
              <h2 class="animate__animated animate__fadeInUpBig">DIRETIVAS?</h2>
              <button class="btn btn-outline-danger">Saiba Mais</button>


 <h3 class="animate__animated animate__fadeInDownBig">Descubra mais sobre</h3>
              <h2 class="animate__animated animate__fadeInUpBig">PIPES</h2>
              <button class="btn btn-outline-danger">Saiba Mais</button>


  

  
</main>