<main>
<section class="container">

    <section class="row px-5 d-flex justify-content-center">

        <div class="col-6 border-bottom border-danger"><img class="rounded float-left img-fluid w-75 p-3" src="assets/images/data-binding.png" alt="" > </div>
        <div class="col-6 border-bottom border-danger">
            <h3 class="animate__animated animate__fadeInDownBig">Aprenda sobre</h3>
            <h2 class="animate__animated animate__fadeInUpBig">Data Binding</h2>
            <a class="btn btn-outline-danger">Saiba Mais</a>
        </div>
     
        
        <div class="col-6 border-bottom border-danger">
            <h3 class="animate__animated animate__fadeInDownBig">Saiba mais sobre </h3>
            <h2 class="animate__animated animate__fadeInUpBig">Angular CLI</h2>
            <button class="btn btn-outline-danger">Saiba Mais</button>
        </div>
        <div class="col-6 border-bottom border-danger"> <img class="rounded float-left img-fluid w-100 p-3" src="assets/images/angular-cli-tutorial.png" alt="" ></div>

        <hr>


        <div class="col-6 border-bottom border-danger"><img class="rounded float-left img-fluid w-100 p-3" src="assets/images/download.jfif" alt="" > </div>
        <div class="col-6 border-bottom border-danger">
            <h3 class="animate__animated animate__fadeInDownBig">Aprenda sobre</h3>
            <h2 class="animate__animated animate__fadeInUpBig">Diretivas</h2>
            <button class="btn btn-outline-danger">Saiba Mais</button>
        </div>


        <hr>

        
        <div class="col-6 border-bottom border-danger">
            <h3 class="animate__animated animate__fadeInDownBig">Aprenda sobre</h3>
            <h2 class="animate__animated animate__fadeInUpBig">Services</h2>
            <button class="btn btn-outline-danger">Saiba Mais</button>
        </div>
        <div class="col-6 border-bottom border-danger"><img class="rounded float-left img-fluid w-100 p-3" src="assets/images/download.png" alt="" ></div>


        <hr>

        <div class="col-6 border-bottom border-danger" ><img class="rounded float-left img-fluid w-100 p-3" src="assets/images/pipes.png" alt="" ></div>
        <div class="col-6 border-bottom border-danger">
            <h3 class="animate__animated animate__fadeInDownBig">Aprenda sobre</h3>
            <h2 class="animate__animated animate__fadeInUpBig">Pipes</h2>
            <button class="btn btn-outline-danger">Saiba Mais</button>
        </div>
    </section>

</section>

</main>